.idea
.git
.old
dist
node_modules
ios
android
resources

.env*
.eslintignore
.eslintrc.json
.gitignore
.gitlab-ci.yml
ansible-playbook.yml
capacitor.config.json
dev.docker-compose.yml
docker-compose.yml
readme.md
